body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
  color: #6c63ff;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a.get-started {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-image: url("../img/1.webp");
}

.hero-content {
  flex: 1 1 100%;
  background-color: #9b59b6;
  color: white;
  padding: 36px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
  height: 380px;
  max-width: 1200px;
  text-align: center;
}

.hero-content h1 {
  font-size: 2.5em;
  margin: 0 0 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin: 0 0 30px;
}

.desc-tel {
  display: flex;
}

.hero-content .learn-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #58d68d;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-image {
  margin-top: 20px;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Медиазапросы для адаптивности */
@media (min-width: 768px) {
  .hero {
    flex-wrap: nowrap;
  }

  .hero-content {
    flex: 1 1 50%;
    margin-bottom: 0;
  }

  .hero-image {
    flex: 1 1 50%;
  }
}

@media (min-width: 1024px) {
  .hero-content h1 {
    font-size: 3em;
  }

  .hero-content p {
    font-size: 1.5em;
  }
}


.step-block {
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: #fff;
}

.step-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.step-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.step-content {
  flex: 1;
  padding-left: 20px;
}

.step-number {
  font-size: 4em;
  color: rgba(0, 0, 0, 0.1);
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;
}

.step-title {
  font-size: 2em;
  color: #333;
  margin: 0;
}

.step-description {
  font-size: 1.2em;
  color: #666;
  margin: 20px 0;
}

.learn-more {
  background-color: #58d68d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}

.animated-button {
  width: 280px;
  height: 80px;
  background-color: #31a09d;
  color: #fff;
  font-size: 24px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  animation: colorChange 3s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid;
}

@keyframes colorChange {
  0% {
    background-color: #e32b17;
  }
  100% {
    background-color: #28f225;
  }
}

.animated-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.mob {
  display: none;
}

@media (max-width: 768px) {
  .step-block {
    flex-direction: column;
    text-align: center;
  }
.mob {
  display: flex;
}
  .desc {
    display: none!important;
  }
  .step-content {
    padding-left: 0;
    padding-top: 20px;
  }

  .policy h1 {
    font-size: 1.5em;
  }

  .policy h2 {
    font-size: 1.2em;
  }

  .step-number {
    position: relative;
    left: 0;
    top: 0;
  }

  nav ul li a {
    font-size: 14px;
  }

  .hero-content h1 {
    font-size: 1.5em;
  }

  .hero {
    padding: 10px;
  }

  .hero-content p {
    font-size: 0.8em;
  }

  .step-content {
    margin-bottom: 10px;
  }
}


.pricing-plans {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

.pricing-header h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.pricing-header p {
  font-size: 1.2em;
  color: #666;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.plan {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1;
}

.plan h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}

.plan p {
  font-size: 1em;
  color: #777;
  margin-bottom: 20px;
}

.price {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.price span {
  font-size: 0.5em;
  color: #777;
}

.get-started {
  display: inline-block;
  background-color: #58d68d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.plan ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #666;
  text-align: left;
}

.plan ul li {
  margin-bottom: 10px;
}

.plan ul li:before {
  content: "✔";
  margin-right: 8px;
  color: #58d68d;
}

@media (max-width: 768px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    max-width: 90%;
    margin-bottom: 20px;
  }

  .head {
    flex-direction: column;
  }
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 10px;
  min-width: 250px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-column p, .footer-column ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #555;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 12px;
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media li {
  margin: 0 10px;
}


/*===== NAVBAR =====*/
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.header a {
  color: #333;
}

.header a:hover, .hero a:hover {
  text-decoration: none;
}

.sticky {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar {
  padding: 10px 0;
}

.navbar {
  align-items: center;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar h1 {
  white-space: nowrap;
  margin-right: 1rem;
  color: #8B0000;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: none;
}

.tariffs {
  padding: 200px 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  width: 60px;
}

.policy p {
  text-align: left;
}

.navbar-toggler {
  padding: 0;
}

.mob-tel {
  display: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.1);
    margin-top: 20px;
    padding: 5px 12px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(34, 34, 34, 0.1);
    padding: 5px 12px;
  }

  .about-text, .delivery-text {
    width: 100%;
  }

  .about-image, .delivery-image {
    width: 100%;
    margin-right: 0px;
  }

  .mob-tel {
    display: flex;
    margin: 15px;
  }

  .desc-tel {
    display: none;
  }

  .h-135 {
    height: auto;
  }

  .menu ul li {
    margin: 10px 15px;
  }

  .menu ul li a {
    color: #fff
  }

  .category-row {
    flex-direction: column;
  }

  .about-team, .beauty-glory {
    flex-direction: column;
  }

  .about-team img, .beauty-glory img {
    max-width: 100%;
  }

  .navbar-toggler {
    padding: 10px;
  }

  .navbar h1 {
    padding: 20px;
  }

  .navbar-brand img {
    width: 60px;
  }

  nav ul li a {
    color: #FFD700;
  }

  .img-about {
    width: 100% !important;
  }

  .advantage-row, .category-row {
    flex-direction: column;
  }

  .services-grid {
    display: flex;
    flex-direction: column;
  }

  .cta-btn {
    font-size: 14px;
  }

  .advantage-item, .category-card {
    width: 100%;
    margin: 10px 0;
  }

  .banner h1 {
    font-size: 16px;
  }

  .banner p {
    font-size: 12px;
  }

  .header-info p, .header-info a {
    font-size: 10px;
  }

  .tariffs .category-card {
    width: 100%;
  }

  .tariffs {
    padding: 40px 0;
  }
}

.navbar-nav .nav-item {
  margin-left: 45px;
  position: relative;
  white-space: nowrap;
}

nav ul li:hover a {
  color: #8B0000 !important;
  text-decoration: none;
}

.screen img {
  max-width: 250px;
}
#main {
  display: block;
}
#original {
  display: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }

  .navbar h1 {
    font-size: 18px;
  }
  #main {
    display: none;
  }
  #original {
    display: block;
  }
}

.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 600;
  color: #38424D;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 5px 0;
  position: relative;
}

.navbar-nav .nav-item a::before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: #38424D;
  border-radius: 50px;
  left: 110%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a::before {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}

.navbar-nav .nav-item.active > a::before, .navbar-nav .nav-item:hover > a::before {
  width: 100%;
}

.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }

  .screen img {
    max-width: 100%;
  }
}

.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  .container1 {
    flex-direction: column;
  }
}

.navbar-nav .nav-item .sub-menu li {
  display: block;
}

.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #4be46e;
}

.navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #1E75D9;
}

.navbar-nav .sub-nav-toggler {
  display: none;
}

.form-contact {
  width: 60%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }

  .form-contact {
    width: 80%;
  }
}

.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

.contact_section2 {
  width: 100%;
  height: auto;
  background-size: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.input_bg {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.fact_text {
  width: 100%;
  float: left;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.address_text {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #000;
  padding: 5px 20px 5px 30px;
  border-radius: 30px;
  border: 0px;
  background-color: #dadada;
  height: 60px;
  margin-top: 40px;
}

.sub_bt {
  width: 100%;
  color: #58d68d;
  background-color: #fff;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid #58d68d;
  height: 60px;
  margin-top: 40px;
  cursor: pointer;

}

.sub_bt:hover {
  color: #fff;
  background-color: #58d68d;
  border-color: #fff;
}

.h-80 {
  height: 80px;
  background-size: auto;
}

.courses-section h2 {
  text-align: center;
}


body {
  font-family: 'Open Sans', sans-serif !important;
  direction: ltr;
  font-size: 1em;
  margin: 0;
  background-color: #1A1B1F;
  color: #fff;
}

.wrap__btn--PxHri--section {
  width: 914px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  margin-bottom: 20px;
  width: 200px; /* Измените размер по необходимости */
  height: auto;
}

.button {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button {
  padding: 29px 55px;
  font-size: 18px;
  text-decoration: none !important;
}

.main__img--l83Xf--section {
  text-align: center;
  background: rgba(255, 255, 255, 0.0);
  padding: 19px;
  border-radius: 0px;
  padding: 46px;
}

.main__img--l83Xf--section h1 {
  font-weight: 400;
  font-size: 37px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 22px;
  margin-top: 0px;
}

.button__header--0mbZF--element {
  display: flex;
  gap: 29px;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

@media (max-width: 1200px) {
  .wrap__btn--PxHri--section {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .button__header--0mbZF--element {
    flex-direction: column;
  }
}
